@{
    ViewData["Title"] = "Photo Gallery";
}

<head>
    <link rel="stylesheet" href="~/css/custom.css" />
</head>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div class="row pt-3 pb-3">
                <div class="col-xl-2">
                    <img class="coat_arms" src="~/Content/Images/klaipeda_coat_arms.png" />
                </div>
                <div class="text-left col-xl-8 ml-5">
                    <h1 class="jumbo_title">Photo Gallery</h1>
                </div>
            </div>
        </div>
    </header>
</div>

<body>
    <div class="m-3">
        <!-- Row #1 of photos -->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/klaipedabeach.jpg">
                        <img src="~/Content/Images/Gallery/klaipedabeach.jpg" alt="Klaipeda Beach" style="width:100%">
                        <div class="caption">
                            <p>Klaipeda Beach</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/maritime_museum.jpg">
                        <img src="~/Content/Images/Gallery/maritime_museum.jpg" alt="Maritime Museum" style="width:100%">
                        <div class="caption">
                            <p>Maritime Museum</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/old_town.jpg">
                        <img src="~/Content/Images/Gallery/old_town.jpg" alt="Old Town" style="width:100%">
                        <div class="caption">
                            <p>Old Town</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Row #2 of photos -->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/mouse.jpg">
                        <img src="~/Content/Images/Gallery/mouse.jpg" alt="Mouse Sculpture" style="width:100%">
                        <div class="caption">
                            <p>Mouse Sculpture</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/river_bank.jpg">
                        <img src="~/Content/Images/Gallery/river_bank.jpg" alt="River Bank" style="width:100%">
                        <div class="caption">
                            <p>River Bank</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/sand_dunes.jpg">
                        <img src="~/Content/Images/Gallery/sand_dunes.jpg" alt="Sand Dunes" style="width:100%">
                        <div class="caption">
                            <p>Sand Dunes</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Row #3 of photos -->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/sculpture.jpg">
                        <img src="~/Content/Images/Gallery/sculpture.jpg" alt="Sculpture of A Boy" style="width:100%">
                        <div class="caption">
                            <p>Sculpture of A Boy</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/ferry.jpg">
                        <img src="~/Content/Images/Gallery/ferry.jpg" alt="Ferry" style="width:100%">
                        <div class="caption">
                            <p>Ferry</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/post_office.jpg">
                        <img src="~/Content/Images/Gallery/post_office.jpg" alt="Post Office" style="width:100%">
                        <div class="caption">
                            <p>Central Post Office</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Row #4 of photos -->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/meridian.jpg">
                        <img src="~/Content/Images/Gallery/meridian.jpg" alt="Sailing ship" style="width:100%">
                        <div class="caption">
                            <p>Meridian Ship</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/bar.jpg">
                        <img src="~/Content/Images/Gallery/bar.jpg" alt="Bar" style="width:100%">
                        <div class="caption">
                            <p>Fishermen's Bar</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/theater.jpg">
                        <img src="~/Content/Images/Gallery/theater.jpg" alt="Drama Theater" style="width:100%">
                        <div class="caption">
                            <p>Drama Theater</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Row #5 of photos -->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/harbor.jpg">
                        <img src="~/Content/Images/Gallery/harbor.jpg" alt="Harbor View" style="width:100%">
                        <div class="caption">
                            <p>Harbor View</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/promenade.jpg">
                        <img src="~/Content/Images/Gallery/promenade.jpg" alt="Pier Promenade" style="width:100%">
                        <div class="caption">
                            <p>Pier Promenade</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/gates.jpg">
                        <img src="~/Content/Images/Gallery/gates.jpg" alt="Sea Gates" style="width:100%">
                        <div class="caption">
                            <p>Sea Gates</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Row #6 of photos -->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/bay.jpg">
                        <img src="~/Content/Images/Gallery/bay.jpg" alt="Ferry Ride" style="width:100%">
                        <div class="caption">
                            <p>Ferry Ride</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/old_bridge.jpg">
                        <img src="~/Content/Images/Gallery/old_bridge.jpg" alt="Old Town Bridge" style="width:100%">
                        <div class="caption">
                            <p>Old Town Bridge</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/hbh.jpg">
                        <img src="~/Content/Images/Gallery/hbh.jpg" alt="Restaurant" style="width:100%">
                        <div class="caption">
                            <p>HBH Restaurant</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Row #7 of photos -->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/party.jpg">
                        <img src="~/Content/Images/Gallery/party.jpg" alt="Concert" style="width:100%">
                        <div class="caption">
                            <p>Sea Festival Concert</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/night.jpg">
                        <img src="~/Content/Images/Gallery/night.jpg" alt="Klaipeda by night" style="width:100%">
                        <div class="caption">
                            <p>Klaipeda by Night</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/festival.jpg">
                        <img src="~/Content/Images/Gallery/festival.jpg" alt="Sea Festival" style="width:100%">
                        <div class="caption">
                            <p>Sea Festival Celebration</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Row #8 of photos -->
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/chapel.jpg">
                        <img src="~/Content/Images/Gallery/chapel.jpg" alt="Chapel" style="width:100%">
                        <div class="caption">
                            <p>Chapel</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/forrest.jpg">
                        <img src="~/Content/Images/Gallery/forrest.jpg" alt="Forrest" style="width:100%">
                        <div class="caption">
                            <p>Forrest</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Content/Images/Gallery/ghost.jpg">
                        <img src="~/Content/Images/Gallery/ghost.jpg" alt="Sculpture of a ghost" style="width:100%">
                        <div class="caption">
                            <p>Sculpture of A Ghost</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>