@model Hotel

@{ 
    ViewData["Title"] = "AddHotel";
}

<div class="container">
    <form method="post" class="mt-5 mb-5">

        <div class="card border-dark">
            <div class="card-header text-success"><h4>Please fill out this form to add a hotel</h4></div>
            <div class="card-body">
                <div class="row mb-2">
                    <label asp-for="HotelName" class="control-label col-sm-2 col-md-2"><strong>Hotel Name</strong></label>
                    <input asp-for="HotelName" class="form-control col-sm-8 col-md-6" />
                </div>

                <div class="row mb-2">
                    <label asp-for="HotelAddress" class="control-label col-sm-2 col-md-2"><strong>Address</strong></label>
                    <input asp-for="HotelAddress" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-2">
                    <label asp-for="HotelRating" class="control-label col-sm-2 col-md-2"><strong>Rating</strong></label>
                    <input asp-for="HotelRating" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-2">
                    <label asp-for="HotelPrice" class="control-label col-sm-2 col-md-2"><strong>Price Range</strong></label>
                    <input asp-for="HotelPrice" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-2">
                    <label asp-for="HotelLink" class="control-label col-sm-2 col-md-2"><strong>Web Link</strong></label>
                    <input asp-for="HotelLink" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-5">
                    <label asp-for="Sender.SenderName" class="control-label col-sm-2 col-md-2"><strong>Entry By</strong></label> <!--added new field for the entry's author-->
                    <input asp-for="Sender.SenderName" class="form-control col-sm-8 col-md-6 mb-8 mr-3" /><br />
                    <span asp-validation-for="Sender.SenderName" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="form-control btn btn-outline-success font-weight-bold col-1 mr-1">Add</button>
                    <a asp-action="Index" class="btn btn-outline-danger font-weight-bold col-1">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>