
#klaipeda {
    font-size: 126px;
    font-family: Algerian;
    color: darkgreen;
}

#true, #false {
    transform: scale(.5);
}

#map {
    height: 100px;
    width: 120px;
}

/*Not working for some reason*/
.navbar {
    color: crimson;
}