

#klaipeda {

    font-family: Algerian;
    color: green;
}

.jumbotron {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 500%), url(../Content/Images/Gallery/klaipedabeach.jpg);
    background-size: cover;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.jumbo_title {
    font-family: Algerian;
    color: green;
    font-size: 75px;
    text-align: center;
}

.coat_arms {
    width: 150px;
    height: 160px;
}

.figure {
    background-color: aliceblue;
}

#true, #false {
    transform: scale(.5);
}

#map {
    height: 80px;
    width: 100px;
}

