@model ForumPost
@{
    ViewData["Title"] = "Post to Forum";
}

<head>
    <link rel="stylesheet" href="~/css/custom.css" />
</head>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div class="row pt-3 pb-3">
                <div class="col-xl-2">
                    <img class="coat_arms" src="~/Content/Images/klaipeda_coat_arms.png" />
                </div>
                <div class="text-left col-xl-8 ml-5">
                    <h1 class="jumbo_title">Post to Forum</h1>
                </div>
            </div>
        </div>
    </header>
</div>

<body>
    <div class="container">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Forum" method="post">

            <div class="row mb-2">
                <label asp-for="Subject" class="control-label col-sm-2 col-md-2"><strong>Subject</strong></label>
                <input asp-for="Subject" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>

            <div class="row mb-2">
                <label asp-for="ForumPostBody" class="control-label col-sm-2 col-md-2"><strong>Post Body</strong></label>
                <input asp-for="ForumPostBody" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                <span asp-validation-for="ForumPostBody" class="text-danger"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-primary col-sm-2 col-md-2 mt-3 pt-2 pb-2"><strong>Submit</strong></button>
            </div>
        </form>
    </div>
</body>