@{
    ViewData["Title"] = "Quiz";
}

<div class="container">
    <header class="jumbotron">
        <h1 class="display-4">Welcome to the Quiz Page!</h1>
        <p>Test your knowledge of Klaipeda by responding to these questions.</p>
    </header>
    <main>

    </main>

</div>