@model QuizVM

@{
    ViewData["Title"] = "Klaipeda Quiz";
}

<head>
    <link rel="stylesheet" href="~/css/custom.css" />
</head>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div class="row pt-3 pb-3">
                <div class="col-xl-2">
                    <img class="coat_arms" src="~/Content/Images/klaipeda_coat_arms.png" />
                </div>
                <div class="text-left col-xl-8 ml-5">
                    <h1 class="jumbo_title">Quiz Page</h1>
                </div>
            </div>
        </div>
    </header>
</div>

<body>

    <div class="card border-success m-3 mb-5">
        <div class="card-header text-white bg-success">
            <h2>Klaipeda Quiz</h2>
        </div>
        <div class="card-body">
            <p class="lead m-4">
                Test your knowledge of Klaipeda by responding to these questions.
                Click on the "Submit" button at the bottom of the page to see the results.
            </p>
            <form method="post" class="container pb-5">
                <!-- Question #1 -->
                <h5><label asp-for="UserAnswer1" class="control-label mt-5 text-muted">1. Which sea Klaipeda borders on?</label></h5>
                <input asp-for="UserAnswer1" type="text" class="form-control border-success pb-1 mb-2 col-xl-3" />
                <p class="mb-5"><b>@Model?.RightOrWrong1</b></p>
                <br />
                <!-- Question #2 -->
                <h5><label asp-for="UserAnswer2" class="control-label text-muted">2. What is the official language in Klaipeda?</label></h5>
                <input asp-for="UserAnswer2" type="text" class="form-control border-success pb-1 mb-2 col-xl-3" />
                <p class="mb-5"><b>@Model?.RightOrWrong2</b></p>
                <br />
                <!-- Question #3 -->
                <h5><p class="text-muted">3. Klaipeda became a city in 1258.</p></h5>
                <div class="row">
                    <label for="true" class="col-1 text-right text-success"><b>True</b></label>
                    <input asp-for="UserAnswer3" id="true" type="radio" value="true" class="form-control col-1" />
                </div>
                <div class="row">
                    <label for="false" class="col-1 text-right text-danger"><b>False</b></label>
                    <input asp-for="UserAnswer3" id="false" type="radio" value="false" class="form-control col-1 mb-3" />
                </div>
                <p><b>@Model?.RightOrWrong3</b></p>
                <br />
                <!-- Question #4 -->
                <h5><p class="text-muted">4. What was Klaipeda called before?</p></h5>
                <div class="custom-checkbox">
                    <label><input asp-for="UserAnswer4" type="checkbox" value="false" class="ml-3 mr-3" />Revel</label>
                </div>
                <div class="custom-checkbox">
                    <label><input asp-for="UserAnswer4" type="checkbox" value="true" class="ml-3 mr-3" />Memel</label>
                </div>
                <div class="custom-checkbox">
                    <label><input asp-for="UserAnswer4" type="checkbox" value="false" class="ml-3 mr-3" />Tallinn</label>
                </div>
                <div class="custom-checkbox">
                    <label><input asp-for="UserAnswer4" type="checkbox" value="false" class="ml-3 mr-3" />Malmo</label>
                </div>
                <p><b>@Model?.RightOrWrong4</b></p>
                <br />
                <!-- Question #5 -->
                <h5><p class="text-muted">5. Klaipeda county shares a border with Russia.</p></h5>
                <div class="row">
                    <label for="true" class="col-1 text-right text-success"><b>True</b></label>
                    <input asp-for="UserAnswer5" id="true" type="radio" value="true" class="form-control col-1" />
                </div>
                <div class="row">
                    <label for="false" class="col-1 text-right text-danger"><b>False</b></label>
                    <input asp-for="UserAnswer5" id="false" type="radio" value="false" class="form-control col-1" />
                </div>
                <p><b>@Model?.RightOrWrong5</b></p>
                <br />
                <!-- Question #6 -->
                <h5>
                    <label asp-for="UserAnswer6" class="control-label mt-1 text-muted">
                        6. What is the name of the river that flows through Klaipeda?
                    </label>
                </h5>
                <input asp-for="UserAnswer6" type="text" class="form-control border-success pb-1 mb-3 col-xl-3" />
                <p><b>@Model?.RightOrWrong6</b></p>
                <br />
                <!-- Question #7 -->
                <h5>
                    <label asp-for="UserAnswer7" class="control-label mt-5 text-muted">
                        7. Klaipeda region is famous for this material thats is used in locally crafted jewelry items.
                    </label>
                </h5>
                <input asp-for="UserAnswer7" type="text" class="form-control border-success pb-1 mb-3 col-xl-3" />
                <p><b>@Model?.RightOrWrong7</b></p>
                <br />
                <!-- Question #8 -->
                <h5>
                    <label asp-for="UserAnswer8" class="control-label mt-5 text-muted">
                        8. How long is Curonian spit peninsula (in kilometers)?
                    </label>
                </h5>
                <input asp-for="UserAnswer8" type="number" class="form-control border-success pb-1 mb-3 col-xl-3" />
                <p><b>@Model?.RightOrWrong8</b></p>
                <br />
                <!-- Question #9 -->
                <h5>
                    <label asp-for="UserAnswer9" class="control-label mt-5 text-muted">
                        9. What music festival does Klaipeda host annually?
                    </label>
                </h5>
                <input asp-for="UserAnswer9" type="text" class="form-control border-success pb-1 mb-3 col-xl-3" />
                <p><b>@Model?.RightOrWrong9</b></p>
                <br />
                <!-- Question #10 -->
                <h5>
                    <label asp-for="UserAnswer10" class="control-label mt-5 text-muted">
                        10. What is the most popular dish in Klaipeda?
                    </label>
                </h5>
                <input asp-for="UserAnswer10" type="text" class="form-control border-success pb-1 mb-3 col-xl-3" />
                <p><b>@Model?.RightOrWrong10</b></p>
                <br />
                <!-- Submit and Reset buttons -->
                <div class="mt-5">
                    <input type="submit" class="form-control btn btn-success col-2 mr-2" value="Check Answers" />
                    <a asp-action="Index" class="btn btn-danger col-1">Reset</a>
                </div>
            </form>
        </div>
    </div>
</body>