@model Restaurant

@{
    string title = ViewBag.Action + " Restaurant";
    ViewBag.Title = title;
}

<div class="container">
    <form asp-action="Edit" method="post" class="mt-5 mb-5">
        <div class="card border-dark">
            <div class="card-header text-success"><h4>Please fill out this form to update a restaurant</h4></div>
            <div class="card-body">
                <!-- hidden ID property -->
                <input type="hidden" asp-for="RestaurantID" />

                <div class="row mb-2">
                    <label asp-for="RestaurantName" class="control-label col-sm-2 col-md-2"><strong>Restaurant</strong></label>
                    <input asp-for="RestaurantName" class="form-control col-sm-8 col-md-6" />
                </div>

                <div class="row mb-2">
                    <label asp-for="CuisineName.CuisineName" class="control-label col-sm-2 col-md-2"><strong>Type of Cuisine</strong></label>
                    <input asp-for="CuisineName.CuisineName" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-2">
                    <label asp-for="RestaurantDesc" class="control-label col-sm-2 col-md-2"><strong>Description</strong></label>
                    <input asp-for="RestaurantDesc" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-2">
                    <label asp-for="RestaurantRating" class="control-label col-sm-2 col-md-2"><strong>Rating</strong></label>
                    <input asp-for="RestaurantRating" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-2">
                    <label asp-for="RestaurantPrice" class="control-label col-sm-2 col-md-2"><strong>Price Range</strong></label>
                    <input asp-for="RestaurantPrice" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-2">
                    <label asp-for="RestaurantLink" class="control-label col-sm-2 col-md-2"><strong>Web Link</strong></label>
                    <input asp-for="RestaurantLink" class="form-control col-sm-8 col-md-6 mb-8" /><br />
                </div>

                <div class="row mb-5">
                    <label asp-for="Sender.SenderName" class="control-label col-sm-2 col-md-2"><strong>Entry By</strong></label> <!--added new field for the entry's author-->
                    <input asp-for="Sender.SenderName" class="form-control col-sm-8 col-md-6 mb-8 mr-3" /><br />
                    <span asp-validation-for="Sender.SenderName" class="text-danger"></span>
                </div>

                <!-- Buttons -->
                <button type="submit" class="btn btn-outline-success font-weight-bold">Update</button>
                <a class="btn btn-outline-danger font-weight-bold" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>