@{
    ViewData["Title"] = "Restaurants";
}

<div class="container">
    <header class="jumbotron">
        <h1 class="display-4">Welcome to the Restaurants Page!</h1>
        <p>Here you will find helpful suggestions for your outings in Klaipeda as far as food goes.</p>
    </header>
    <main>
        
    </main>

</div>